<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
     </div>

     <div class="pull-left">
      <%= fa_icon 'clock-o' %>
    </div>
    <div class="time-details"> 
      <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
    </div>
  </div>
</div>

<% if is_event_owner(@event.id) %>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <table class="table" id="ticket-table">
      <th> Ticket Type </th>
      <th> Unit Price </th>
      <th> Quantity </th>
      <% @event.ticket_types.each do |ticket_type| %>
      <%= render partial: "ticket", locals: {type: ticket_type} %>
      <% end %> 
    </table>
    <!-- New form to add ticket types -->
    <h4>Add in Ticket Type for this event <b><%= @event.name %></b></h4>
    <%= render partial: "form", locals: {event: @event, ticket_type: TicketType.new} %>
    <hr/>
    <a href="<%= event_path(@event.id) %>" class="btn btn-primary-outline">Preview & Publish Event</a>
  </div>
</div>

<% else %>

<!-- Show buy button only for customer/not event owner -->
<%= form_tag order_create_path(id: @event.id), method: :post do %>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <table class="table" id="ticket-table">
      <th> Ticket Type </th>
      <th> Unit Price </th>
      <th> Quantity </th>
      <% @event.ticket_types.each do |ticket_type| %>
      <%= render partial: "ticket", locals: {type: ticket_type} %>
      <% end %> 
    </table>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <% if signed_in %>
    <%= submit_tag 'Buy Tickets', class:  "btn btn-success btn-lg", method: :post %>
    <% else %>
    <div class="alert alert-success" role="alert">
      <strong>Want to buy tickets!</strong> Let's sign in.
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>

